<h1>Edit your profile</h1>
<form action="profile/save" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<label for="email">email:</label>
	<input type="text" name="email" id="email" value="<%= @user.email %>">
	<label for="username">username:</label>
	<input type="text" name="username" id="username" value="<%= @user.username  %>">
	<label for="pass">password:</label>
	<input type="password" name="password" id="password">
	<input type="submit">
</form>