	<section class="video_card">
		<%= link_to video_view_path(video.id) do %>
			<h3><%= video.title %></h3>
			<%=image_tag(video.video_file.url(:thumbnail)) %>
			<p><%= video.description %></p>
		<% end %>
	</section>
