<main id="homepage">
	<header>
		<h1>VidSite</h1>
		<em>HTML5</em>
		<p>mobile device compatible</p>
		<p>no flash</p>
	</header>

	<section id="latest_videos">
		<h2>Latest videos:</h2>
		<% @latest_videos.each do |video| %>
			<%= render "video_card", video: video %>
		<% end %>
	</section>
</main>
