<h1>lol</h1>
<form action="create" method="post" enctype="multipart/form-data">
  <input type="text" name="video[title]">
  <input type="text" name="video[description]">
  <input type="file" name="video[file]">
  <input type="submit">
</form>