div.video_card{
	display: inline-block;
  max-width: 100%;
	margin-right: 1%;
	margin-bottom: 1.5em;


	@media screen and (max-width: 350px) {
		width: 100%;
		margin-right: 0;
		float: none;
	}
  
  & *{
    // any child
    overflow: hidden;
  }

	& + div.video_card{
		// when a section.video_card follows a section.video_card
	}

	//background-color: pink;
	&:hover{
		//background-color: silver;
	}

  img {
    width: 99%;
    border: 1px solid black;

    @media screen and (max-width: 350px) {
      width: 40%;
      float: left;
    }
  }

	h3{
		font-size: 1em;
		padding-bottom: 0.5em;
		color: black;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;

    @media screen and (max-width: 350px) {
      float: right;
      width: 55%;
      text-align: left;
	  }
  }

	p {
		color: black;
		margin: 0;
		height: 3em;
		overflow: hidden;
    
    @media screen and (max-width: 350px) {
      float: right;
      width: 55%;
	  }

	}
}
