<!DOCTYPE html>
<html>
<head>
  <title>VideosAndComments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>VidSite</h1>
	<nav>
		<a href="/users/sign_in">Login</a>
	</nav>
</header>

<%= yield %>

</body>
</html>
